[submodule "IdeaProjects/untitled/IdeaProjects/untitled/LPG2-SpringLibrary"]
	path = IdeaProjects/untitled/IdeaProjects/untitled/LPG2-SpringLibrary
	url = https://github.com/tgalva0/LPG2-SpringLibrary
